In [23]:
# http://blog.naver.com/PostView.nhn?blogId=wwwkasa&logNo=220648787043&categoryNo=58&parentCategoryNo=0&viewDate=&currentPage=1&postListTopCurrentPage=1&from=postView

import os
import pymysql

In [24]:
html_header = '''<html>
<body>
<h1>DB 테스트</h1>
<table border=1>
<tr>
<td>결과</td>
</tr>
'''

html_footer = '''</tr>
</table>
</body>
</html>'''

In [25]:
f = open("tmdbtest.html", 'w')
f.write(html_header)

70

In [26]:
os.putenv('NLS_LANG', 'KOREAN_KOREA.KO16KSC5601')

In [27]:
conn = pymysql.connect(host = 'localhost', user = 'root', password='0726', db = 'tmdb', charset='utf8')

In [28]:
cur = conn.cursor()

In [29]:
cur.execute('select * from tmdb')

1

In [30]:
for result in cur:
    f.write("<tr>")
    f.write("<td>"+str(result[0])+"</td>")
    f.write("</tr>")

In [31]:
cur.close()
conn.close()

In [32]:
f.write(html_footer)
f.close()

In [33]:
os.system('tmdbtest.html')

0